#footer>.row>.span3 {
	width: 400px;
}

#footer>.row>.span4 {
	width: 270px;
	float: right;
}

.address {
	width: 250px;
}

.text-align {
	text-align: justify;
	text-justify: inter-word;
}

#footer .widget {
	min-height: 0px;
}

.main {
	border: 2px solid #dedede;
}

.contents {
	margin-bottom: 0px;
}

.heading-style {
	float: left;
	margin-left: 1%
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float: left;
	margin: 1% 0 1% 0%;
}

.col:first-child {
	margin-left: 0;
}

/*  GROUPING  */
.group:before,.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}

.span_1_of_4 {
	width: 50%;
}

.span_2_of_3 {
	width: 66.1%;
}

.span_1_of_3 {
	width: 32.2%;
	border: 2px solid #dedede;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}
	.span_3_of_3,.span_2_of_3,.span_1_of_3 {
		width: 100%;
	}
}

.name {
	color: #000;
}

.info {
	text-align: justify;
	text-justify: inter-word;
	padding: 10px;
}

.note {
	text-align: justify;
	text-justify: inter-word;
	padding:0 20px 0 20px;
}

.img-circular {
	height: 180px;
	background-image:url('../images/photo.jpeg');
	background-size: cover;
	display: block;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border: 5px solid #dedede;
	width: 50%;
	margin: 0 auto;
}

.view-more{
	
	float:right;
}

.place {
	float:right;
}


.lisitng-grid-layout .pagination {
    border-top: none;
   
}


.lisitng-grid-layout .main {
    margin: 52.5px 0 20px;
}
.main {
    border-bottom:none;
}


.span9 {
    width: 100%;
    margin-left: 1%;
    padding-bottom: 20px;
}


.lisitng-grid-layout .main {
    margin: 25.5px 0 20px;
}

.label-text{
	
	color:#FFF;
}

.contents {
	
	margin-left:7%;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1132px;
}

.property-items .span6 {
	
	margin-left:0.3px;
	}
	
	.property-items .span6 {
 
    width: 578px;
}
